<!-- Breadcrumb -->
    <form>

      <div class="card-panel">
        <!--<h4>Informações Básicas e Contato</h4>-->

<!-- Products -->
    <div class="card">
      <div class="title">
        <h3>Departamentos</h3>
        <div class="btn-group right">
			<a href="#departamentoscadastrar" class="btn btn-small z-depth-0">Novo</a>
          <a href="#" class="btn btn-small red lighten-1 z-depth-0">Excluir</i></a>        </div>
      </div>
      <div class="content">
        <table class="table table-hover">
          <thead>
            <tr>
              <th></th>
              <th>Código</th>
              <th>Departamento</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th><input type="checkbox" id="checkbox1" /><label for="checkbox1"></label></th>
              <td>#001</td>
              <td>Departamento de Servas</td>
              <td><a href="ecommerce-product-single.html" class="btn btn-small z-depth-0">Editar</a></td>
            </tr>
            <tr>
              <th><input type="checkbox" id="checkbox1" /><label for="checkbox1"></label></th>
              <td>#002</td>
              <td>Departamento Jovens</td>
              <td><a href="ecommerce-product-single.html" class="btn btn-small z-depth-0">Editar</a></td>
            </tr>
            <tr>
              <th><input type="checkbox" id="checkbox1" /><label for="checkbox1"></label></th>
              <td>#003</td>
              <td>Departamento de Leigos</td>
              <td><a href="ecommerce-product-single.html" class="btn btn-small z-depth-0">Editar</a></td>
            </tr>			

          </tbody>
        </table>
      </div>
    </div>
    <!-- /Products -->

		</div>
      
	
	
	
    </form>