<!-- Breadcrumb -->
    <!--<div class="page-title">

      <div class="row">
        <div class="col s12 m9 l10">
          <h1>Pessoas</h1>
        </div>
        <div class="col s12 m3 l2 right-align">
          <a href="#" class="btn grey lighten-3 grey-text z-depth-0 chat-toggle"><i class="fa fa-comments"></i>Novo!</a>
        </div>
      </div>
    </div>-->


    <form>

      <div class="card-panel">
        <!--<h4>Informações Básicas e Contato</h4>-->

<!-- Products -->
    <div class="card">
      <div class="title">
        <h3>Eventos</h3>
        <div class="btn-group right">
			<a href="#eventoscadastrar" class="btn btn-small z-depth-0">Novo</a>
          <a href="#" class="btn btn-small red lighten-1 z-depth-0">Excluir</i></a>
		  </div>
      </div>
      <div class="content">
        <table class="table table-hover">
          <thead>
            <tr>
              <th></th>
              <th>Código</th>
              <th>Evento</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th><input type="checkbox" id="checkbox1" /><label for="checkbox1"></label></th>
              <td>#001</td>
              <td>Culto</td>
              <td><a href="ecommerce-product-single.html" class="btn btn-small z-depth-0">Editar</a></td>
            </tr>
            <tr>
              <th><input type="checkbox" id="checkbox1" /><label for="checkbox1"></label></th>
              <td>#002</td>
              <td>Reunião de Jovens</td>
              <td><a href="ecommerce-product-single.html" class="btn btn-small z-depth-0">Editar</a></td>
            </tr>
            <tr>
              <th><input type="checkbox" id="checkbox1" /><label for="checkbox1"></label></th>
              <td>#003</td>
              <td>Visitação Hospitalar</td>
              <td><a href="ecommerce-product-single.html" class="btn btn-small z-depth-0">Editar</a></td>
            </tr>			

          </tbody>
        </table>
      </div>
    </div>
    <!-- /Products -->

		</div>
      
	
	
	
    </form>