    <!-- Breadcrumb -->
	<div class="row">
		<div class="card">
          <div class="title">
            <h5><i class="fa fa-user"></i>Ajuda</h5>
            <a class="close" href="#">
              <i class="mdi-content-clear"></i>
            </a>
            <a class="minimize" href="#">
              <i class="mdi-navigation-expand-less"></i>
            </a>
          </div>
          <div class="content">
            <!--texto-->
          </div>
        </div>	
	</div>
	
	<div class="row">
		<div class="card">
          <div class="title">
            <h5><i class="fa fa-user"></i>Sobre</h5>
            <a class="close" href="#">
              <i class="mdi-content-clear"></i>
            </a>
            <a class="minimize" href="#">
              <i class="mdi-navigation-expand-less"></i>
            </a>
          </div>
          <div class="content">
            <!--texto-->
          </div>
        </div>	
	</div>
	


	
    <div class="row">
		<div class="card">
          <div class="title">
            <h5><i class="fa fa-user"></i>Equipe</h5>
            <a class="close" href="#">
              <i class="mdi-content-clear"></i>
            </a>
            <a class="minimize" href="#">
              <i class="mdi-navigation-expand-less"></i>
            </a>
          </div>
		  
	          <div class="content">	  
      <div class="col s6 m3 l2">
        <div class="card image-card">
          <div class="image">
            <img src="assets/img/user.jpg" alt="">
            <a href="page-profile.html" class="link"></a>
          </div>

          <div class="content">
            <h5><!--texto--></h5>
          </div>
        </div>
      </div>
      
      </div>	  
      
      </div>
</div>
    </div>